{% extends "@mydesign/main_layout.html.twig" %}

{% block content %}
    <div class="col-xs-10 col-xs-offset-1 text-justified">
        New design
        {{ render( controller( "AppBundle:Homepage:getAllRides" ) ) }}
    </div>
{% endblock %}
